.container {
  height: 90%;
  display: flex;
  margin-left: 75px;
}

.GameCardsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
