.button {
  min-height: 50px;
  min-width: 12%;
  border-left: 1px solid #00af2c;
  border-right: 1px solid #00af2c;
  font-size: 1.4em;
  line-height: 1em;
  color: #00af2c;
  transition: all 0.3s ease;
  &:hover,
  &:active {
    background-color: #45b160;
    color: white;
  }
}

@media (max-width: 1080px) {
  .button {
    font-size: 1em;
    line-height: 0.6em;
  }
}

@media (max-width: 830px) {
  .button {
    font-size: 0.8em;
    line-height: 0.6em;
  }
}
