.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s all;
  &:hover {
    transition: 0.5s all;
    transform: scale(1.2);
  }
  &_wrong {
    background: #8c1c1c;
  }
  &_right {
    background: #1c658c;
  }
}
