.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  height: 100%;
  padding: 40px;
  background-color: white;
}

.topInfoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.mem {
  width: 50%;
  min-width: 650px;
  border: 2px solid #007bff;
  border-radius: 40px;
}

.infoContainer {
  width: 37%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 1187px) {
  .topInfoContainer {
    justify-content: space-around;
  }
  .infoContainer {
    width: 650px;
  }
}
