.container {
  width: 450px;
  height: 500px;
  background: rgba(216, 210, 203, 0.6);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
