.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 242, 253);
  position: relative;
  height: 10%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 75px;
}

.signIn {
  min-width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4dabf5;
    color: white;
  }
}

.userWrapper {
  display: flex;
  align-items: center;
  column-gap: 40px;

  .userName {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
    width: 200px;
  }
}
